body {
    background-color: #191E1E;
    color: #E56D22;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
p {
    color: white;
    font-weight: 100;
    text-align: center;
}


.menu-horizontal {
    background-color: #E56D22;
    overflow: hidden;
}
.menu-horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu-horizontal li {
    display: inline;
}
.menu-horizontal a {
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.menu-horizontal a:hover {
    background-color: #292a44;
}

.top3{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.top3 img {   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}


/*--------------- AKAASHI ---------------*/
.akaashi-part h2 {
    color: white;
    margin: 0;
    padding: 20px;
}
.akaashi-part img {
    width: 800px;
    align-items: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    margin-left: 30%;
}
.akaashi-part p {
    padding: 20px;
}
.akaashi-part strong {
    color: goldenrod;
}


/*--------------- KAGEYAMA --------------- */
.kageyama-part h2 {
    color: #292a44;
    margin: 0;
    padding: 20px;
}
.kageyama-part img {
    width: 800px;
    align-items: center;
    box-shadow:  0 0 5px rgba(229, 109, 34, 1);
    margin-left: 30%;
}
.kageyama-part p{
    color: #E56D22;
    padding: 20px;
}
.kageyama-part strong {
    color: #292a44;
}


/*--------------- KENMA ---------------*/
.kenma-part h2 {
    color: #DFC276;
    margin: 0;
    padding: 20px;
}
.kenma-part img {
    width: 800px;
    align-items: center;
    box-shadow:  0 0 5px rgba(223, 194, 118, 1);
    margin-left: 30%;
}
.kenma-part p{
    color: #DFC276;
    padding: 20px;
}
.kenma-part strong {
    color: #423C35;
}