body {
    background-color: #191E1E;
    color: #E56D22;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
p {
    color: white;
    font-weight: 100;
    text-align: center;
}
.menu-horizontal {
    background-color: #E56D22;
    overflow: hidden;
}
.menu-horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu-horizontal li {
    display: inline;
}
.menu-horizontal a {
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.menu-horizontal a:hover {
    background-color: #292a44;
}
.top3 img {
    width: 800px;
    margin-left: 200px;
    padding: 50px;
    align-items: center;
}
/* AKAASHI */
.akaashi-part h2 {
    color: white;
    margin: 0;
    padding: 20px;
}
.akaashi-part img {
    width: 500px;
    padding-left: 400px;
}
.akaashi-part strong {
    color: goldenrod;
}

/* KAGEYAMA */
.kageyama-part h2 {
    color: #292a44;
    margin: 0;
    padding: 20px;
}
.kageyama-part img {
    width: 500px;
    padding-left: 400px;
}
.kageyama-part p{
    color: #E56D22;
}
.kageyama-part strong {
    color: #292a44;
}

/* KENMA */
.kenma-part h2 {
    color: #DFC276;
    margin: 0;
    padding: 20px;
}
.kenma-part img {
    width: 500px;
    padding-left: 400px;
}
.kenma-part p{
    color: #DFC276;
}
.kenma-part strong {
    color: #423C35;
}